body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
textarea {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 80%;
  height: 100%;
  font-family: monospace;
  font-size: 1em;
  resize: both;
}
output {
  font-family: monospace;
}
