html {
  height: 100%;
  background: fixed;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    38deg,
    rgba(2, 2, 2, 1) 0%,
    rgba(8, 8, 17, 1) 87%,
    rgba(0, 14, 27, 1) 100%
  );
}
* {
  color: white;
  font-family: sans-serif;
}
textarea {
  background-color: black;
  color: white;
  border: 1px solid white;
  width: 80%;
  height: 15em;
  font-family: monospace;
  font-size: 1.2em;
  border-radius: 5px;
  resize: both;
  padding: 0.1em;
}
textarea:focus {
  box-shadow: 0 0 0.4em white;
}
button {
  background-color: rgb(0, 57, 0);
  transition: background 250ms ease-in-out;
  cursor: pointer;
  border: 0.1em solid rgb(171, 171, 171);
  border-radius: 2px;
  padding: 0.5em;
}
button:hover {
  background-color: rgb(0, 77, 0);
}
button:disabled,
button[disabled] {
  background-color: rgb(50, 50, 50);
  color: rgb(171, 171, 171);
  cursor: not-allowed;
}
output {
  font-family: monospace;
}
.collapsible {
  margin-top: 1em;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.2em;
  font-weight: bold;
  background: rgb(22, 22, 22);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(36, 36, 36, 1) 100%
  );
  color: white;
}
.active,
.collapsible:hover {
  background-color: rgb(50, 50, 50);
}
.collapsible-content {
  padding: 0 1em;
  display: none;
  overflow: hidden;
  background-color: rgb(36, 36, 36);
}
#wat-pretty {
  display: none;
}
